.inline-form input {
	display: inline-block;
	width: 100px;
}

.span-green{
	color : green ;
}
.span-red{
	color : red ;
}

.jumbotron {
  color: #AAA; 
  background-color: #313131;
}

.generic-background{
	background-color: #AAAAAA;
}

.grey-background{
	background-color: #313131;
	color : white;
}

.text-center{
	text-align : center;
}

.footer {
    position: fixed;
    bottom: 0;
	width : 100%;
}