.inline-form input {
	display: inline-block;
	width: 100px;
}

.jumbotron {
  color: #AAA; 
  background-color: #313131;
}

/* Color */
.color-green{
	color : green ;
}
.color-red{
	color : red ;
}
.color-blue{
	color : blue;
}
.color-white{
	color : #FFFFFF;
}

/* Background color */
.background-grey{
	background-color: #BABABA;
}

.background-grey-text-white{
	background-color: #313131;
	color : white;
}

/* Position */
.text-center{
	text-align : center;
}

.footer {
    position: fixed;
    bottom: 0;
	width : 100%;
}

