.inline-form input {
	display: inline-block;
	width: 100px;
}

.jumbotron {
  color: #AAA; 
  background-color: #313131;
}

/* Color */
.color-green{
	color : green ;
}
.color-red{
	color : red ;
}
.color-blue{
	color : blue;
}
.color-white{
	color : #FFFFFF;
}

/* Background color */
.background-grey{
	background-color: #BABABA;
}

.background-grey-text-white{
	background-color: #313131;
	color : white;
}

.background-black-text-white{
	background-color: #000000;
	color : white;
}
/* Position */
.text-center{
	text-align : center;
}

.footer {
    position: fixed;
    bottom: 0;
	width : 100%;
}

/* Title */
.titre-article{
	border : solid 2px black;
	background-color: #BABABA;
	color : black;
}
/* Rendu */
.rendu{
	border : solid 2px black;
	background-color : white;
	color : black;
}
.legend-rendu{
	border : solid 2px black;
	background-color : black;
	color : white;
}

.legend-code{
	border : solid 2px black;
	color : white;
}

.border{
	border : solid 2px black;
}

.border-white{
	border : solid 2px white;
}